
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #00B7EB;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}


/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured-services .service-item {
  padding: 30px;
  transition: all ease-in-out 0.4s;
  background: var(--color-white);
  height: 100%;
}
.featured-services .service-item .icon {
  margin-bottom: 10px;
}
.featured-services .service-item .icon i {
  color: var(--color-primary);
  font-size: 36px;
  transition: 0.3s;
}
.featured-services .service-item h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 24px;
}
.featured-services .service-item h4 a {
  color: var(--color-secondary);
  transition: ease-in-out 0.3s;
}
.featured-services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.featured-services .service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.1);
}
.featured-services .service-item:hover h4 a {
  color: var(--color-primary);
}



/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.services-section {
  text-align: center;
  padding-bottom: 40px;
}
.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #00b2fe;
  text-transform: uppercase;
}
.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color:  #00b2fe;
}
@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #012970;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}
.breadcrumbs ol a:hover {
  text-decoration: underline;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background:#00B7EB;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background:#00B7EB;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  height: 44px;
  padding: 0;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 996;
}
#topbar.topbar-scrolled {
  top: -44px;
}
#topbar .contact-info i {
  font-style: normal;
  color:#00B7EB;
}
#topbar .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #444444;
}
#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}
#topbar .contact-info i a:hover {
  color: #01b1d7;
}
#topbar .social-links a {
  color: #62787d;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
  border-left: 1px solid #e9e9e9;
}
#topbar .social-links a:hover {
  color: #01b1d7;
}
#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  top: 44px;
}
#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  top: 0;
}
#header .logo h1 {
  font-size: 38px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #354144;
  text-decoration: none;
}
#header .logo h1 a span, #header .logo h1 a:hover span {
  color: #01b1d7;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 66px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#004e6f;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color:#3fc8f2;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #80f3ff;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #00b8cb;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #00b8cb;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:#00b2fe;
  transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #012970;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color:#82daff;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #4154f1;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
:root {
    --font3: 'Roboto', sans-serif;
}


.container-fluid {
    max-width: 1400px;
}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    border: 1;
    border-radius: 1rem;
}

.img-hover-zoom--colorize img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-top: 20px;
    padding: 1px;
    transition: transform .5s;
    filter: grayscale(100%);
}

.img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.05);
}

/* MEDIA */

@media only screen and (min-width: 1200px) {
    .img-hover-zoom--colorize img {
        width: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .h1,
    h1 {
        font-size: 2rem;
    }
}

/*--------------------*/
/* SERVICE */
/*--------------------*/

#mu-service {
	display: inline;
	float: left;
	width: 100%;
	padding: 100px 0 50px;
}

.mu-service-area {
	display: inline;
	float: left;
	width: 100%;
}

.mu-service-content {
	display: inline;
	float: left;
	width: 100%;
}

.mu-single-service {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
}

.mu-single-service-icon {
	background-color: #15ccff;
	border-radius: 50%;
	color: #fff;
	display: inline;
	font-size: 18px;
	float: left;
	height: 48px;
	width: 48px;
	text-align: center;
	line-height: 48px;
	margin-right: 20px;
}


.mu-single-service-content {
	display: inline;
	float: left;
	width: 80%;
}

.mu-single-service-content h3 {
	color: #323232;
	text-transform: uppercase;
	font-size: 18px;
}

.mu-single-service-content p {
	font-size: 14px;
}


/* about-section */

#about-section {
  padding: 40px 0px;
}


.about-content h3 {
  padding: 5px 0 5px 0;
  margin: 0;
  color: #333;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  line-height: 1;
}

.about-content h4 {
  display: block;
  font-size: 20px;
  font-weight: 300;
  color: #0089c4;
}

.about-content p {
  font-size: 13px;
}

input.btn-read-more {
  background: linear-gradient(#29c0d4, #04525d);
  color: #fff;
  /* float: right; */
  border-radius: 22px !important;
  box-shadow: 1px 4px 0px #02373e;
  border: none;
  padding: 5px 20px;
  margin: 20px;
}

input.btn-read-more:hover {
  color: #fff;
  background: linear-gradient(#3cd2e6, #116e7b);
  box-shadow: 1px 4px 0px #064d56;
}

input.btn-reset {
  background: linear-gradient(#bfbfbf, #4c4c4c);
  color: #fff;
  /* float: right; */
  border-radius: 22px;
  box-shadow: 1px 4px 0px #4c4c4c;
  border: none;
  padding: 5px 20px;
  margin: 20px;
}

input.btn-reset:hover {
  color: #fff;
  background: linear-gradient(#d6d4d4, #8c8686);
  box-shadow: 1px 4px 0px #767979;
}

.about-heading {
  text-align: center;
}

.about-heading h3 {
  font-size: 36px;
  font-style: italic;
  color:#0089c4;
}

.about-heading h4 {
  font-size: 20px;
}

.about-border {
  text-align: center;
  border: 1.5px solid #0089c4;
  position: relative;
  margin-top: 50px;
  border-radius: 25px;
}

.about-border img {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%);
  background: #ffffff;
 
}

.about-border h3 {
  font-size: 18px;
  font-weight: bold;
  color:#00b2fe;
  margin-top: 50px;
}

.about-border p {
  font-size: 14px;
  padding: 0px 5px;
}

/* end-about-section */


/* service-section */

#services-section {
  padding: 40px 0px;
  background: #f6fcff;
  
}

.heading {
  position: relative;
  text-align: center;
}

.heading h3 {
  background-color:#007cb2;
  margin: 0 auto;
  width: 35%;
  font-size: 34px;
  padding: auto 20px;
  z-index: 2;
  position: relative;
  color:#00B7EB;
}

.heading h3 span {
  font-size: 14px;
  display: block;
  color:#00B7EB;
}

.heading h3 span i.fa {
  color: #00B7EB;
}

.heading .line {
  height: 1px;
  z-index: 1;
  background-color: #dedede;
  width: 80%;
  left: 10%;
  position: absolute;
  top: 48%;
}

.services-content {
  min-height: 250px;
}

.services-content i.fa {
  color: #15ccff;
  transition: 0.3s all ease;
  border: solid 3px #69cde9;
  border-radius: 50%;
  font-size: 16px;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  text-align: center;
}

.services-content:hover i.fa {
  background-color:#00B7EB;
  border-color:#00B7EB;
  color: #fff;
}

.services-content h3 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #02373e;
}

.services-content h4 {
  font-style: italic;
  color: #00B7EB;
  font-size: 16px;
}

.services-content:hover h4 {
  color:#2592ff;
}

.services-content p {
  max-width: 500px;
  margin: 0 auto;
  color: #0d082c;
}

.border-right {
  border-right: 1px solid #dedede;
  padding-right: 15px;
}

.padding-top50 {
  padding-top: 50px;
}

/* end-service-section */



/*ABOUT STYLE*/

.section-content:before,
.section-content:after,
.about-content:before,
.about-content:after {
  content: " ";
  display: table;
}

.section-content:after,
.about-content:after {
  clear: both;
}

#about .big-image {
  position: absolute;
  left: 10;
  width: 95%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 1
}

.about-content {
  margin-bottom: 25px;
  color: #666;
}

.about-content.left > .about-icon,
.about-content.left > .about-detail {
  float: left;
  text-align: left;
}

.about-content.right > .about-icon,
.about-content.right > .about-detail {
  float: right;
  text-align: right;
}

.about-content.left > .about-icon {
  margin-right: 4%;
}

.about-content.right > .about-icon {
  margin-left: 4%;
}

.about-icon {
  font-size: 45px;
  color: #888987;
}

.about-detail {
  width: 70%;
}

.about-content h4 {
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  font-size: 15px;
}







/* ===== Begin roatet boxes ===== */
/* Begin rotate box-1 */
.rotate-box-1, .rotate-box-2 {
	display: inline-block;
	margin: 30px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a.rotate-box-1, a.rotate-box-2 {
	text-decoration: none;
	color: #000000;
}
a.rotate-box-1:hover, a.rotate-box-2:hover {
	color: #2c2464;
}
.rotate-box-1 .rotate-box-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 25px;
	margin-top: 10px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.rotate-box-1.square-icon .rotate-box-icon, .rotate-box-2.square-icon .rotate-box-icon {
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #4154f1 !important;
	font-size: 18px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rotate-box-1.square-icon .rotate-box-icon:after, .rotate-box-2.square-icon .rotate-box-icon:after {
	content: "";
	position: absolute;
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	border: 2px solid #293394;;
}
.rotate-box-1:hover.square-icon .rotate-box-icon , .rotate-box-2:hover.square-icon .rotate-box-icon{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotate-box-1.square-icon .rotate-box-icon .fa, .rotate-box-2.square-icon .rotate-box-icon .fa{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.rotate-box-1:hover.square-icon .rotate-box-icon .fa, .rotate-box-2:hover.square-icon .rotate-box-icon .fa{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.rotate-box-1 .rotate-box-info a, .rotate-box-2 .rotate-box-info a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.rotate-box-1 h4, .rotate-box-2 h4 {
	font-weight: 400;
}
.rotate-box-1 p {
	padding: 0 10px;
}
.rotate-box-1 .rotate-box-info {
	padding-left: 60px;
}

/* End rotate box-1 */


/* Begin rotate box-2 */
.rotate-box-2 .rotate-box-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.rotate-box-2.square-icon .rotate-box-icon {
	width: 75px;
	height: 75px;
	line-height: 75px;
	font-size: 36px;
}

.rotate-box-2.square-icon .rotate-box-info {
	margin-top: 30px;
}
/* End rotate box-2 */
/* ===== End rotate boxes ===== */


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
 
  padding: 40px;
}
.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #15ccff;
  text-transform: uppercase;
}
.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #00b2fe;
}
.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}
.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  background:#00b2fe;
  box-shadow: 0px 5px 25px rgba(70, 73, 96, 0.3);
}
.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.about .btn-read-more:hover i {
  transform: translateX(5px);
}




/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}
.gallery .gallery-item:hover img {
  transform: scale(1.1);
}



/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(0, 32, 88, 0.08);
 
  position: relative;
  overflow: hidden;
  transition: 0.3s;
 
}
.pricing .box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.pricing h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.pricing .price {
  font-size: 36px;
  color: #444444;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.pricing .price sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing .price span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.pricing img {
  padding: 30px 40px;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}
.pricing ul li {
  padding-bottom: 8px;
}
.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: #4154f1;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #4154f1;
}
.pricing .btn-buy:hover {
  background: #4154f1;
  color: #fff;
}
.pricing .featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #4154f1;
  color: #fff;
}

/*--------------------
  Screenshots
----------------------*/

#screenshots-section .title-section {
  padding-bottom: 80px;
}

.screenshots-carousel .shot {
  padding: 4px;
}

.screenshots-carousel .shot a.zoom {
  display: block;
}

.screenshots-carousel .shot a img {
  border-radius: 3px;
  width: 100%;
}



/* android-section */

#android-section {
  padding: 40px 0px;
  background:#fbfeff;
  position: relative;
}

.android-home {
  position: relative;
  top: 20px;
}

.feature-element li {
  position: relative;
  display: block;
  padding-bottom: 40px;
}

.feature-element li .line-feature {
  height: 3px;
  background-color: #151515;
  width: 67%;
  float: left;
  margin-top: 36px;
  position: relative;
}

.feature-element li .line-feature i {
  position: absolute;
  font-size: 28px;
  top: -14px;
  right: -3px;
  color: rgb(21, 21, 21);
}

.feature-element li .cirle-feature {
  border: solid 3px  
 
}

.feature-element li .cirle-feature {
  background-color:#ffffff;
  text-align: center;
  padding-top: 23px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  float: left;
  font-size: 22px;
}

.text-feature {
  color:#363c3f;
}

.text-feature h4 {
  color: #00a3e9;
}


.image-animations {
  position: relative;
  overflow: hidden;
}

.image-animations .image-big {
  max-width: 95%;
  padding-top: 30px;
  opacity: 0;
}

.image-animations .icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.image-animations .icons li.one {
  left: 0%;
  top: 0%;
}

.image-animations .icons li.two {
  right: 26%;
  top: 0%;
}

.image-animations .icons li.three {
  left: 0%;
  top: 38%;
}

.image-animations .icons li.four {
  right: 35%;
  top: 47%;
}

.image-animations .icons li {
  position: absolute;
  width: 70px;
  height: 70px;
  opacity: 0;
}

.image-animations .icons li img {
  width: 100%;
}

/* end-android-section */






/* software-solution-section */

#software-solution-section {
  padding: 40px 0px;
}

.software-solution ul{
  padding: 0px !important;
}

.software-solution ul li i{
  display: none !important;
}

.software-solution h3 {
  font-size: 30px;
}

.software-solution h4 {
  color: #29c0d4;
  font-size: 20px;
  font-weight: normal;
}



.software-solution .list {
  float: left;
}

.software-solution .list2 {
  float: right;
}

.software-solution .list li,
.software-solution .list2 li {
  line-height: 35px;
}

.software-solution .list li i.fa,
.software-solution .list2 li i.fa {
  color: #29c0d4;
}

/* end-software-solution-section */

/* our-technology */

#our-technology {
  padding: 40px 0px;
}

#our-technology p {
  padding: 0px 100px;
  margin: 20px 0px;
  text-align: center;
}

#our-technology .heading h3 {
  background: #fff;
}

.our-tech ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.our-tech ul li {
  text-align: center;
}

.our-tech ul li {
  width: 25%;
  float: left;
}

.our-tech img {
  width: 80%;
}

.our-tech ul li {
  width: 25%;
  float: left;
}

.our-tech ul .width40 img {
  margin-top: -25%;
  margin-right: -100%;
  display: initial;
}

/* end-our-technology */


/* plane */
#plane {
  padding: 40px 0px;
}

#plane .heading h3 {
  background: #fff;
  margin-bottom: 30px;
}

.panel-pricing {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  padding: 0;
  background: #ededed;
  -webkit-box-shadow: 1px 1px 5px #d5d5d5;
  -moz-box-shadow: 1px 1px 5px #d5d5d5;
  box-shadow: 1px 1px 5px #d5d5d5;
}

.panel-pricing .panel-heading {
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
}

.panel-pricing .panel-title {
  font-weight: 100;
   font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}

.panel-pricing .panel-pricing-price {
  text-shadow: none;
  color: #ffffff;
  background:#007fff;
  text-align: center;
  padding: 15px 0 10px 0;
  font-weight: 400;
  vertical-align: text-top;
  margin: 0;
  font-weight: 14px;
}

.panel-pricing .panel-pricing-price .digits {
  font-size: 30px;
  color: #ffffff;
  font-weight: 300;
}

.panel-pricing .panel-body {
  background-color: white;
}

ul.list-dotted {
  margin: 0;
  padding: 0;
  font-size: smaller;
}

ul.list-dotted li {
  padding: 5px 0px;
  list-style: none;
  border-bottom: #bfbfbf 1px solid;
  color: #7b7b7b;
}

ul.list-dotted li:hover {
  background:#00b2fe;
  color: #fff;
  cursor: default;
}

.panel-pricing.panel-pricing-highlighted .panel-pricing-price {
  background:#00b2fe;
  padding: 25px 0 20px 0;
}


/* end-plane */



@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  .item-1 {
    grid-column: 1/ span 2;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card { 
 
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
  flex: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h1 {
  font-size: 18px;
  margin: 0;
  color: rgb(74, 198, 212);
}

.card p {
  font-size: 12px;
  margin: 0;
  color: rgb(45, 47, 47);
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid  #00b2fe;
  border-bottom: 3px solid  #00b2fe;
  padding: 20px;
  width: 100%;
  background-color: #f9f9fa;
}
.contact .info i {
  font-size: 20px;
  color:  #00b2fe;
  float: left;
  width: 44px;
  height: 44px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #5f687b;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #949cac;
}
.contact .info .social-links {
  padding-left: 60px;
}
.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}
.contact .info .social-links a:hover {
  background:  #00b2fe;
  color: #fff;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background:  #00b2fe;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  border-top: 3px solid  #00b2fe;
  border-bottom: 3px solid  #00b2fe;
  padding: 30px;
  background-color: #f9f9fa;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color:  #00b2fe;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background:  #00b2fe;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background:  #4dcaff;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
      background-color: #00b2fe;
      color: white;    
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;     
      right: 18px;
      width: 70px;
      height: 28px;
      text-align: center;
    }
    
    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      bottom: 60px;
      right: 60px;
      border: 4px solid  #ecf9ff;
      z-index: 9;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 360px;
      padding: 10px;
      background-color: rgb(255, 255, 255);
    }
    
    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
      width: 100%;
      padding: 12px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f6faff;
    }
    
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: rgb(255, 255, 255);
      outline: none;
    }
    
    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color:  #00b2fe;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
       background-color: #00b2fe;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
/* for desktop */


.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  .item-1 {
    grid-column: 1/ span 2;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card { 
 
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
  flex: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h1 {
  font-size: 18px;
  margin: 0;
  color: rgb(74, 198, 212);
}

.card p {
  font-size: 12px;
  margin: 0;
  color: rgb(45, 47, 47);
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }
  .submit{
  margin-top:15px;
  }
  .popup-btn a{
  top:300px;
  position:fixed;
  right:-90px;
  z-index: 1000;
  transform: rotate(-90deg);
  background-color: #00B7EB;
  padding:10px 14px 30px;
  height: 0px;
  background-color: rgb(31, 31, 31);
  color:#fff;
  }
  .popup-btn a:hover{
  text-decoration: none;
  color:#fff;
  }
  .form-part{
  padding: 10px 0px;
  }
  .modal-header{
  padding:17px 0px !important;
  }
  .modal {
  display: none;
  position: fixed;
  z-index: 1 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 90px;
  }
  .modal-content {
  background-color: #ffffff;
  margin: 5% auto 15% auto;
  width: 90%;
  padding: 20px;
  border:8px solid #ffffff !important;
  }
  .close {
  position: absolute;
  right:10px;
  top:8px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  }
  .close:hover,
  .close:focus {
  cursor: pointer;
  }
  .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
  }
  @-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
  }
  @keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
  }


.whatsapp-button{
    position: fixed;
    bottom: 15px;
    left: 13px;
    z-index: 99;
    background-color: #075E54;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    animation: effect 5s infinite ease-in;
}

@keyframes effect {
    20%, 100% {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    0%, 10%{
        width: 55px;
        height: 55px;
        font-size: 35px;
    }
    5%{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
}


a{
  text-decoration:none;
}
.floating_btn {
  position: fixed;
  bottom: 10px;
  left: 2px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  z-index: 1000;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.contact_icon {
  background-color:#28cc64;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size:30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #42db87;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}


.text_icon {
  margin-top: 8px;
  color: #7ccc73;
  font-size: 13px;
}



.service {
  padding: 32px;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.service h5 {
  margin-top: 24px;
  margin-bottom: 14px;
}

.service img {
  width: 90px;
}


